* {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --main-red: #e7414f ;
    --light-red: #FF8A92;
    --mid-red: #FF6670;
    --dark-red: #CC2233;

    --main-white: #ECE8E1;
    --light-white: #F5F3EF;
    --mid-white: #D4CFC9;
    --dark-white: #B5B0AA;

    --main-black: #a8a8a8;
    --light-blue: #1E3448;
    --mid-blue: #162534;
    --dark-blue: #08101A;

    --white: white;
    --black: black;
    

}

.container{
    display: grid;
    grid-template-columns: calc(20vw - 5px) calc(80vw - 5px);
    grid-template-rows: calc(20vh - 5px) calc(80vh - 5px);
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

/*Sidebar*/

.sidebar{
    background-color: var(--main-red);
    grid-column: 1;
    grid-row: 1/3;

    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 
}

.sidebar.dashboard{
    font-size: 1.4rem;
    gap: 5px;
}

.side{
    font-size: 1.4rem;
    color: var(--main-white);
    padding-left: 10px;
    margin: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.licon{
    height: 2.8rem;
    width: 2.8rem;
    fill: var(--light-white);
}

.icon{
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--light-white);
}

/*Header*/

/*SVGs first*/

.scope{
    height: 1.2rem;
    width: 1.2rem;
}

.bell{
    height: 1.4rem;
    width: 1.4rem;
}

.header{
    background-color: var(--main-white);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    padding: 10px;

    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
}

.searchbar{
    padding-left: 10px;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    gap: 5px;
    align-items: center;
}

.searchbar .bar{
    height: 40%;
    width: 90%;
    background-color: rgb(204, 201, 201);
    border-radius: 10px;
}

.head{
    color: black;
}

.head.small{
    font-size: 0.9rem;
}

.head.big{
    font-size: 1.2rem;

}

.profile, .info {
    color: black;  /* fix this */
}

.profile{
    display: flex;
    justify-self: left;
    color: var(--main-white);
    align-items: center;
    gap: 10px;

    grid-column: 1;
    grid-row: 2;
}

.info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--main-white);
    gap: 1.2rem;
    padding-right: 20px;

    grid-column: 2;
    grid-row: 1;
    min-width: 0;
    overflow: hidden;
}

.buttons{
    gap: 10px;

    grid-column: 2;
    grid-row: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons .hbutton{
    background-color: var(--main-red);
    color: var(--main-white);
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 1rem;
    border: none;
    height: min(50%, 2rem);

}

.head{
    color: rgb(51, 51, 51);
}


.pfp {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--mid-white);
    flex-shrink: 0;
}


.pfp.large{
    width: 4rem;
    height: 4rem;
}

/*Projects*/

.projects{
    background-color: var(--main-black);
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 7fr 3fr;

    padding: 5px;
    margin: 2px;
}

.page{
    grid-column:1;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    grid-template-rows: 1fr 1fr;
    height: calc(100% - 1.5rem);
   
    padding-top: 10px;
    border-radius: 10px;
    gap: 10px;
}

.card{
    background-color: var(--mid-red);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    border-left: 4px solid var(--dark-red);
}

.icons-container{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    gap: 1rem;

}

.icons-container .icon {
    fill: rgb(39, 39, 39);
}

.announcements{
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    
}

.announcement-container{
    background-color:var(--mid-red);
    display: grid;
    height: calc(100% - 1.5rem - 18px);
    
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.block{
    border-bottom: var(--light-white) solid 2px;
    padding: 5px;
}

.block:last-child{
    border-bottom: none;
}

.trending{
    grid-column: 2;
    grid-row: 2;
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr;

}

.trend{
    display: flex;
    gap: 10px;
}

.trend-container{
    display: grid;
    background-color: var(--mid-red);
    border-radius: 10px;
    padding: 10px;
    height: calc(100% - 10px - 3px);
    gap: 8px;
}

.main{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
}

.words{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.mini{
    font-size: 0.9rem;
    color: var(--dark-blue);
}

.tblock{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.pblock{
    font-size: 0.9rem;
    color: var(--dark-blue);
}  

.at{
    font-size:1rem;
}

.blurb{
    font-size: 0.8rem;
    color: var(--dark-blue);
}
